
#define RESOURCE_FILE
#include "bmpgen.h"

MAP DIALOG 8, 16, 350, 198
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS DLGCLASS
CAPTION "Bitmap Generator, Written by Makarov, Moscow, 1997"
FONT 8, "MS Sans Serif"
{
 GROUPBOX "Files", -1, 7, 6, 134, 70, BS_GROUPBOX
 PUSHBUTTON "Maps:", IDC_GETMAP, 13, 18, 26, 12
 EDITTEXT IDC_MAP, 41, 18, 95, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Input:", IDC_GETINPUT, 13, 46, 26, 12
 EDITTEXT IDC_INPUT, 41, 46, 95, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Out:", IDC_GETOUTPUT, 13, 60, 26, 12
 EDITTEXT IDC_OUTPUT, 41, 60, 95, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 CHECKBOX "Wait for input and", IDC_AUTO, 9, 84, 70, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 DEFPUSHBUTTON "Start!", IDC_READ, 79, 84, 28, 12
 GROUPBOX "Image Attributes", -1, 7, 104, 134, 88, BS_GROUPBOX
 RTEXT "Width", -1, 13, 118, 26, 8
 RTEXT "Height", -1, 13, 132, 26, 8
 LTEXT "300 dpi", IDC_DPIX, 71, 118, 28, 8
 LTEXT "300 dpi", IDC_DPIY, 71, 132, 28, 8
 CONTROL "10", IDC_X, "EDIT", WS_BORDER | WS_TABSTOP, 43, 116, 26, 12
 CONTROL "10", IDC_Y, "EDIT", WS_BORDER | WS_TABSTOP, 43, 130, 26, 12
 PUSHBUTTON "Printer", IDC_PRINTER, 100, 122, 35, 14
 COMBOBOX IDC_UNITS, 13, 146, 122, 98, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 RTEXT "Marker", -1, 13, 164, 26, 8
 RTEXT "Reper", -1, 13, 178, 26, 8
 LTEXT "x 0.1mm", -1, 72, 164, 30, 8
 LTEXT "x 0.1mm", -1, 71, 178, 32, 8
 CONTROL "15", IDC_MARKSIZE, "EDIT", WS_BORDER | WS_TABSTOP, 43, 162, 26, 12
 CONTROL "20", IDC_REPSIZE, "EDIT", WS_BORDER | WS_TABSTOP, 43, 176, 26, 12
 PUSHBUTTON "Font", IDC_MARKFONT, 104, 164, 30, 10
 PUSHBUTTON "Close", IDOK, 109, 84, 30, 12
 CONTROL "flow1", IDC_BITMAP, BMPCLASS, 7 | WS_CHILD | WS_VISIBLE | WS_BORDER, 153, 20, 186, 152
 GROUPBOX "Preview", -1, 147, 6, 196, 172, BS_GROUPBOX
 ICON "Ecompas", -1, 315, 0, 18, 20
 PUSHBUTTON "Reps:", IDC_GETREP, 13, 32, 26, 12
 EDITTEXT IDC_REP, 41, 32, 95, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Font", IDC_REPFONT, 104, 178, 30, 10
 CHECKBOX "Update Picture", IDC_UPDPICTURE, 276, 182, 66, 12, BS_AUTOCHECKBOX | WS_TABSTOP
}


RESULTS DIALOG 6, 15, 390, 287
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS RESCLASS
CAPTION "Results of reading maps:"
FONT 8, "MS Sans Serif"
{
    DEFPUSHBUTTON   "Done>>",IDOK,330,9,50,14
    LISTBOX         IDC_RESULTS,12,30,366,247,LBS_NOTIFY | WS_BORDER | LBS_HASSTRINGS | LBS_EXTENDEDSEL | LBS_DISABLENOSCROLL | WS_VSCROLL | WS_HSCROLL
    ICON            "Bearth",-1,16,4,21,20
}


Aearth ICON "rsrs\\earth4.ico"
Bearth ICON "rsrs\\earth1.ico"
Cearth ICON "rsrs\\earth2.ico"
Dearth ICON "rsrs\\earth3.ico"
Ecompas ICON "rsrs\\arrows.ico"

globe1 BITMAP "RSRS\\bgbrn06.bmp"
globe2 BITMAP "RSRS\\bgfun03.bmp"

flow1 BITMAP "RSRS\\flow03.bmp"
flow2 BITMAP "RSRS\\flow05.bmp"
flow3 BITMAP "RSRS\\flow07.bmp"
flow4 BITMAP "RSRS\\pansy7.bmp"


